body 
{
    font-family: "Roboto", "Raleway", sans-serif;
    color: #212121;
}

ul {
    list-style-type: none;
}  

a {
    text-decoration: none;
}

header a:hover {
    color: #2196F3;
}

button:hover {
    background:#2196F3;
}

.header-bg {
    width: 1600px;
    background: #FFFFFF;
}

.webstudio-header {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
    
}

.studio-header {
    color: #000000; 
}

.nav-link-agencja {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em; 
    color: #2196F3;
    }

.nav-link {
    color: #212121;
}

.contact-link-header-tel {
    color: #757575;
}

.h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #2F303A;
}

.button-main {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.button-portfolio {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        color: #FFFFFF;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        cursor: pointer;
}  

.h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-role {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
}

.name-project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.view-project {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
}

.footer-bg {
    width: 1600px;
    background: #2F303A;
}

.map-contact {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    color: #FFFFFF;   
}

.contact-link-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.web-footer {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.studio-footer {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #FFFFFF
}












