<body 
{
    font-family: 'Roboto', sans-serif;
    color: #212121
}

.link-nav:hover,
.link-nav:focus {
    color: #2196F3;
}
    
.button-main:hover 
.button-main:focus {
    color: #2196F3;
    background-color: #FFFFFF;
    cursor: pointer;
}

.costam>h1 {text-align: center;
}
.button-main: {
    background-color: #2196F3;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.headline-background {
    background: #2f303a
    color: var(--font-color2);
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    text-align: center;
    line-height: 60px;
    letter-spacing: 0.06em;
}

:root {
--active-color: #2196f3;
--logo-header: black;
--logo-footer: white;
--logo-web: #2196f3;
--second-color: #757575;
--first-bacground-color: #2f303a;
}

.logo-header {
    color: var(--logo-header);
}

.logo-web {
    color: var(--logo-web);
}

.header-contact {
    color: var(--second-color);
} 