<body 
{
    font-family: 'Roboto', sans-serif;
    color: #212121
}

.link-nav:hover,
.link-nav:focus {
    color: #2196F3;
}
    
.button:hover 
.button:focus {
    color: #2196F3;
    background-color: #FFFFFF;
    cursor: pointer;
}

.button: {
    background-color: #2196F3;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    corner-radius: 4px;
    wigth: 117px;
    height: 30px;
    cursor: pointer;
}

:root {
--active-color: #2196f3;
--logo-header: black;
--logo-footer: white;
--logo-web: #2196f3;
--second-color: #757575;
--first-bacground-color: #2f303a;
}

.logo-header {
    color: var(--logo-header);
}

.logo-web {
    color: var(--logo-web);
}

.nav:hover,
.nav:focus {
    color: var(--active-color);
}

.header-contact {
    color: var(--second-color);
} 